Bad reference in Zone-TP/zone01

https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Zone-TP/zone01.md refers to RFC 2182 section 11, but that RFC only has 7 sections.

closed by e8009121fd1d37179ef3c15d4c10ee729d8ddbbf