Does Delegation03 make sense when testing the root zone?

The rationale of [Delegation03](https://doc.zonemaster.fr/latest/specifications/tests/Delegation-TP/delegation03.html) is to test whether a referral packet from the parent zone to the zone being tested will fit in 512 bytes.

But the root zone is a special case. By definition, it has no parent and the closest thing to a referral to the root zone is the root hints file, whose size is not constrained.

Yet Zonemaster will emit the following warning when testing the root zone:
```
$ zonemaster-cli --test Delegation03 .

Seconds Level    Message
======= ======== =======
   0.02 WARNING  The smallest possible legal referral packet is larger than 512 octets (it is 526).
```

Additionally, in `t/old-bugs.t`, we can find the following remark:

```perl
TODO: {
    local $TODO = 'The root zone fails delegation03. We need to investigate whether this is correct.';
    my $root = Zonemaster::Engine->zone( '.' );
    my @msg = Zonemaster::Engine->test_method( 'Delegation', 'delegation03', $root );

    ok( any { $_->tag eq 'REFERRAL_SIZE_OK' } @msg );
    ok( none { $_->tag eq 'MODULE_ERROR' } @msg );
}
```

Without necessarily calling for an overhaul of the test case (although it could use some re-engineering), I suggest that we at least skip it when testing the root zone.

The resolvers will use the hint file to find the root name servers, but to verify the root name server information it will at start send an NS query to one or several root name servers (and probably renew before TTL ends). I think it is still relevant if that response can fit into a 512 B non-EDNS packet. But I am not sure that the way that Delegation03 works is optimal, especially not for the root zone NS queries since the query name is maximally short.

Ah, of course, I forgot about the priming queries. But that doesn’t invalidate my point for at least making the root zone a special-case for Delegation03.

Currently, there is no way that a complete NS resource record set, including the additional section, for the root zone can fit in 512 bytes. Doing `dig @k.root-servers.net NS .` (or some other root server) gives a response that is usually 811 bytes long.

That’s why [RFC 8109](https://datatracker.ietf.org/doc/html/rfc8109#section-3) says that, for priming queries:

> The recursive resolver SHOULD use EDNS(0) [[RFC6891](https://datatracker.ietf.org/doc/html/rfc6891)] for priming queries and SHOULD announce and handle a reassembly size of at least 1024 octets [[RFC3226](https://datatracker.ietf.org/doc/html/rfc3226)].

As a side note: interestingly, all 13 root servers return an 811-byte response except:

 * M-root returns an 823-byte response;
 * C-root and G-root return an 851-byte response;
 * B-root returns a 1 003-byte response.

I agree that there are several relevant questions that you raise. Delegation03 is about the size of a referral, but there is never any referral to root.

You point at RFC 8109 saying that EDNS should be used for priming, and if so the resolver will EDNS for all queries, and if the parent servers of the tested zone supports EDNS then 1024 bytes should be an acceptable size for the referral of the zone.

The differences you see in size, are they due to differences in how compression is done?

Adding a DO flag will increase the size.

> You point at RFC 8109 saying that EDNS should be used for priming, and if so the resolver will EDNS for all queries, and if the parent servers of the tested zone supports EDNS then 1024 bytes should be an acceptable size for the referral of the zone.

Yes, and since the DNS Flag Day of 2020, we know that 1 232 is a reasonable new maximum size for DNS packets over UDP when EDNS is enabled.

> The differences you see in size, are they due to differences in how compression is done?

I quickly compared B-root and K-root’s responses and yes, it is only due to how name compression is (not) done. K-root compresses all instances of `root-servers.net` except the first one, which is to be expected. But B-root does not compress the name server names in the RDATA of the NS resource records.

> Adding a DO flag will increase the size.

Yes, and this time the sizes vary between 1 097 bytes (from most root servers) and 1 217 bytes (from B-root). B-root’s response would exceed the aforementioned 1 232 byte limit if it had included the complete additional section.

And also, something unrelated to this discussion but which might be useful for a specification overhaul: maybe we could refer to [RFC 9471](https://datatracker.ietf.org/doc/html/rfc9471) in the future?

Oh, and RFC 8109 was obsoleted by RFC 9609.

> And also, something unrelated to this discussion but which might be useful for a specification overhaul: maybe we could refer to [RFC 9471](https://datatracker.ietf.org/doc/html/rfc9471) in the future?

That would probably be a good idea.


> Oh, and RFC 8109 was obsoleted by RFC 9609.

Of course. In many cases when I update specifications there is an new RFC to include instead of an obsoleted one.