DNSSEC tests use an AND when it should be an OR

dnssec08.md says "If any of the RRSIGs does not validate the DNSKEY RR set, this test
   case fails." This is harsh and contradicts RFC 6840 which says "This document specifies that a resolver SHOULD accept any valid RRSIG
   as sufficient, and only determine that an RRset is Bogus if all
   RRSIGs fail validation.

   If a resolver adopts a more restrictive policy, there's a danger that
   properly signed data might unnecessarily fail validation due to cache
   timing issues.  Furthermore, certain zone management techniques, like
   the Double Signature Zone Signing Key Rollover method described in
   Section 4.2.1.2 of [RFC6781], will not work reliably.  Such a
   resolver is also vulnerable to malicious insertion of gibberish
   signatures."
