More tests of EDNS(0)

From Future tests in the Test Requirements:

More tests of EDNS(0), [RFC 6891](http://tools.ietf.org/search/rfc6891).

See also RFC 4035 section 4.1: https://tools.ietf.org/html/rfc4035#section-4.1

Task:

Find these log messages in the current test cases:
    NAMESERVER:EDNS0_BAD_ANSWER
    NAMESERVER:EDNS0_BAD_QUERY
    NAMESERVER:EDNS0_SUPPORT

Add text to these test cases in the specifications to be more explicit about EDNS.

@pawal - move it to 2015.3

Why would we want to postpone this even longer?

2015.2 is to finish all the basic issues of GUI, backend, documentation for
them, monitoring and statistics.

I have pushed all other high priority issues to 2015.3.

On 17 May 2015 at 16:43, Patrik Wallström <notifications@github.com> wrote:

> Why would we want to postpone this even longer?
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/dotse/zonemaster/issues/305#issuecomment-102810419>.
>


@pawal Are we still concerned about this issue?

Yes, read through the comments on this issue. More logging and modification of test cases.

@vlevigneron please have a look at the comments by Patrik W.

As of today, Zonemaster seems to *not* test EDNS support which, in 2015, is certainly a problem. For instance, vache.fr 's name servers reply FORMERR but it is not displayed in https://zonemaster.net/test/35480 It certainly deserves a warning.

It is displayed (look under nameserver category), but it is not considered (with current policy) as a warning. Perhaps policy could be upgraded in that way.

@VLE close it after upgrade the EDNS policy to “warning” in the engine