Erroneous idea of what is a domain name

[Reported by Jacques Latour, on an IETF mailing list.]

When testing the (delegated and fully functional) domain _sips._tcp.cam.ac.uk, the CLI reports:

```
  16.33 ERROR     Found illegal characters in the domain name (_sips._tcp.cam.ac.uk).
```

which is wrong: _ is perfectly legal for a _domain_ name. It seems Zonemaster assumes a domain name is always a host name, which is not true.

The Web interface says the same thing, plus it contains a typo: "Domain name name contains non-allowed character(s)" It is a blocking error, meaning no test is possible.


I think it is clear that few registries would allow the registration of such domain name. However, they seem to have a proper use case further down the DNS hierarchy. I would have hoped to stay away from the dbound issues... Perhaps raise this issue on the list? (cam.ac.uk is within another administrative domain than ac.uk which is the registry.)

As per RFC 2181, it is a valid domain name and our pre-flight check should take this into account @vlevigneron 

As of RFC 2181 any octet can be used for labels in a domain name. "[...] any binary string whatever can be used as the label of any resource record". If we accept to remove the restriction on underscore, then what is the argument against removing any other restrictions?

If you have a delegation in the DNS hierarchy that you want to test, why would not Zonemaster let you test it?

The ticket only says "remove the restriction of underscore". Do you suggest that any restrictions should be removed?

It depends on what you want Zonemaster to do, and the distinction between host names and domain names. I want all domains that are allowed by DNS to be testable by Zonemaster. So if you have an answer to the previous question, that would be helpful.

I think Zonemaster is most useful and less confusing as a tool checking host names. If you add some garbage, it will protest in an understandable way. 

It does not mean that it could not be useful for non-host names. Underscore is probably the most common deviation from host names. I like the suggestion of @mtoma that it should be something that you can set in the profile, only host name syntax or additional characters.

I think that we can wait a while with the ticket.

Then I suggest we let the TRTF IETF draft be worked on, and then later follow those requirements.

Specification BASIC00 says "In order to begin testing the domain name from the input must be a valid domain name. The domain name must follow the rules defined in section 2.1 of RFC 1123." And that is the host name syntax. Before updating the code, we must update the specification.

You are absolutely right. Which is why the current implementation does not follow the current specifications. Since you are obviously allowed to test a domain named "_sips._tcp.cam.ac.uk", the implementation of BASIC00 does now follow the specification.

This is due to the fact that all name checks are using the same syntax check function, which does not make any distinction between valid domain names and valid host names. Which in the end is the issue we are having.

The error the user gets when testing "_sips._tcp.cam.ac.uk" is this:

    16.33 ERROR     Found illegal characters in the domain name (_sips._tcp.cam.ac.uk).

Which means that the domain is allowed to be testing, but the error above comes from the SYNTAX01 test case.

@vlevigneron can perhaps elaborate on what syntax tests are performed in which test cases.

So then the bug is in the implementation of BASIC00, i.e. it should follow the specification.


Do you want to remove the ability to test a perfectly legal domain name?

@bortzmeyer : We will look into this and update the specifications for Zonemaster. We think that for non-hostnames (such as owner names of NS) an underscore should be permitted. We will also look into the possibility to make Zonemaster configurable on what code points/characters to accept for testing.

@matsduf : Go through the specifications and write a proposal.

@vlevigneron In case you need to modify the code

PR #479 contains a proposed update of Basic00 and a solution of this issue.


moved to 2017.1, since specifciation is not yet validated.

Conclusion about how basic00 is written. Refer to https://github.com/dotse/zonemaster/pull/479

Resolved by https://github.com/dotse/zonemaster/pull/479