Test the preservation of qname case in DNS answers

From Future tests in the Test Requirements:

 * Test the preservation of qname case in DNS answers, RFC 1035 section 7.1. ("0x20" hack)


If suitable for Zonemaster, this should fit in the Nameserver test category.